[Desktop Entry]
Name=Rock Paper Scissors
Comment=Play Rock Paper Scissors (AI + Multiplayer)
Exec="/home/ivan/Documents/Rock Paper Scissors/dist/Rock Paper Scissors-1.0.0.AppImage"
Icon=/home/ivan/Documents/Rock Paper Scissors/assets/scissors-icon.svg
Terminal=false
Type=Application
Categories=Game;